EchoesOfTheAncients/Intermediate/
EchoesOfTheAncients/Content/ThirdPerson/
EchoesOfTheAncients/Saved/
EchoesOfTheAncients/Content/LevelPrototyping/Materials/MI_PrototypeGrid_Gray.uasset
EchoesOfTheAncients/Content/LevelPrototyping/
EchoesOfTheAncients/Content/Characters/Mannequins/
EchoesOfTheAncients/Content/Characters/Mannequin_UE4/
EchoesOfTheAncients/Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/D/DE/SWSI13675DVYIZ0N4NF7Y3.uasset
EchoesOfTheAncients/Content/__ExternalActors__/
EchoesOfTheAncients/Content/__ExternalObjects__/
EchoesOfTheAncients/.vs/
EchoesOfTheAncients/.vsconfig
EchoesOfTheAncients/Binaries/
